<html>
<head>
    <title>Shoe Brands</title>
    {% include 'css_codes.html' %}
</head>
<body>
  <div class="container">
      <h1>Shoe Brands</h1>
      <form action="/" method="get">
          <button type="submit" class="btn btn-primary">HOME</button>
      </form>

      {% if brands is not empty %}
          <h3>List of Brands</h3>
          <ol>
              {% for brand in brands %}
                  <li class="medium_txt"><a href="brand/{{ brand.getId }}">{{ brand.getName }}</a></li>
              {% endfor %}
      {% endif %}

      <div class="container">
          <h3>Add a brand</h3>
          <form action="/add_brand" method="post">
              <label for="new_brand">Enter Name</label>
              <input name="new_brand" type="text">
              <button type="submit" class="btn btn-info">Submit</button>
          </form>
      </div>
  </div>



</body>
</html>
