<html>
<head>
    <title>Shoe Brands</title>
</head>
<body>
  <div class="container">
      <h1>{{ brand.getName }}</h1>

      <div class="container">
          <h3>Add a Store to this Brand</h3>
          <form action="/add_brand" method="post">
              <label for="new_brand">Enter Store Name</label>
              <input name="new_brand" type="text">
              <button type="submit" class="btn btn-info">Submit</button>
          </form>
      </div>

      <p><a href="/">Back</a></p>
      <p>Stores that stock this brand:<p>
        {% if stores is not empty %}
            <ol>
                {% for store in stores %}
                    <li>{{ store.getName }}</li>
                {% endfor %}
        {% endif %}
  </div>



</body>
</html>
