<html>
<head>
    <title>Shoe Distribution Center</title>
    {% include 'css_codes.html' %}
</head>
<body>
  <div class="container">
      <h1>Shoe Distribution</h1>
      <h2><a href="/stores">Store Directory</a></h2>
      <h2><a href="/brands">Brand Directory</a></h2>
  </div>



</body>
</html>
