<html>
<head>
    <title>Shoe Distribution Center</title>
</head>
<body>
  <div class="container">
      <h1>Shoe Distribution</h1>
      <p><a href="/stores">Store Directory</a></p>
      <p><a href="/brands">Brand Directory</a></p>
  </div>



</body>
</html>
