<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>
  <div class="container">
      <h1>Shoe Stores</h1>
      <p><a href="/stores">Store 1</a></p>
      <p><a href="/brands">Store 2</a></p>
  </div>



</body>
</html>
