<html>
<head>
    <title>Shoe Stores</title>
    {% include 'css_codes.html' %}
</head>
<body>
  <div class="container">
    <form action="/" method="get">
        <button type="submit" class="btn btn-primary">HOME</button>
    </form>
    <form action="/delete_all_stores" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" class="btn btn-danger">DELETE ALL STORES</button>
    </form>
    <br>
    {% if stores is not empty %}
        <h3>List of Stores</h3>
        <ol>
            {% for store in stores %}
                <li class="medium_txt"><a href="store/{{ store.getId }}">{{ store.getName }}</a></li>
            {% endfor %}
    {% endif %}

    <div class="container">
        <h3>Add a store</h3>
        <form action="/add_store" method="post">
            <label for="new_store">Enter Name</label>
            <input name="new_store" type="text">
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
  </div>
</body>
</html>
